## CocoaPods
Pods/

## User settings
xcuserdata/
*.generated.swift

## Xcode Patch
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings